@import "../../../assets/style/variable.scss";

.footer {
  position: relative;
  top: 1px;
  width: 100.4%;
  text-align: center;
  background-color: $background-red;
  color: $background-white;
  font-size: 0.9rem;

  @media (max-width: 764px) {
    width: 100%;
   }

  & a {
    color: $background-white;
    text-decoration: none;
  }
}
