@import "../../../assets/style/variable.scss";

.home {
  background-color: $background;
  width: 97%;
  height: 100%;
  margin: auto;

  & form {
    position: relative;
    left: 170px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 800px) {
      left: 50px;
    }

    & .form-group {
      margin-top: 20px;

      @media (max-width: 800px) {
        margin-top: 40px;
      }

      & label {
        display: block;
        text-transform: uppercase;
        color: $text-color;
        width: 70%;
      }
      & textArea {
        width: 290px;
        height: 80px;
        outline: none;
        background: none;
        border: 1px solid $border-color;
        font-size: 1rem;
        @media (max-width: 800px) {
          width: 250px;
        }
      }

      & input {
        width: 290px;
        height: 25px;
        outline: none;
        background: none;
        border: 1px solid $border-color;
        font-size: 1rem;
        text-align: left;

        @media (max-width: 800px) {
          width: 250px;
        }
      }

      & select {
        width: 300px;
        height: 30px;
        outline: none;
        background: none;
        border: 1px solid $border-color;
        font-size: 1rem;

        @media (max-width: 800px) {
          width: 260px;
        }

        & option {
          font-size: 1rem;
          background-color: $background-light;
        }
      }
    }

    & button {
      position: relative;
      left: 100px;
      cursor: pointer;
      display: inline-block;
      padding: 15px;
      margin-top: 20px;
      height: 50px;
      min-width: 100px;
      background: $background-yellow;
      border: none;
      outline: none;
      color: $text-color;
      font-family: inherit;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 3px;
      box-shadow: 0 5px 0px darken($text-color, 0%);
      border-bottom: 2px solid darken($text-color, 3%);

      // @media (max-width: 800px) {
      //   left: 30%;
      // }
    }
  }

  & a {
    color: $text-color;
    font-size: 0.8rem;
    margin-left: 5px;

    @media (max-width: 800px) {
      margin-bottom: 5px;
    }
  }
}

.error {
  color: red;
  font-size: 0.8rem;
  font-family: inherit;
}
