<div class="background">
  <img class="chat1" src="/assets/images/chat.svg" alt="">
  <div class="wrapper" [ngStyle]="{ direction: language == 'heb' ? 'rtl' : 'ltr' }">
    <app-header></app-header>
    <app-home></app-home>
    <app-footer></app-footer>
  </div>
  <img class="chat2" src="/assets/images/chat2.svg" alt="">
  <ng-adsense
  style="position: absolute;"
  [adClient]="'ca-pub-7137536568562505'"
  [adSlot]="7259870550"
  [display]="'inline-block'"
  [width]="320"
  [height]="108"
  ></ng-adsense>
</div>
