@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 35vw;

  @media (max-width: 764px) {
    width: 100%;
    //font-size: 14px;
  }
}

html {
  background-image: linear-gradient(to bottom, #edf2f4, #edf2f4 50%, #F50057 50%);
  background-attachment:fixed;
  background-repeat: no-repeat;

  @media (max-width: 764px) {
   background: none;
   }

}
